# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/Flutter/engine/

# TypeScript
safari_extension_src/node_modules/
safari_extension_src/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Misc
*.log
ios/SwiftSafariExtension/Resources/popup/admin_secret.js
